<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhouse</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%if(user && !user.is_member){%>
            <button><a href="/member/login">Membership</a></button>
        <%}%>
    <%if(user){%>
            <button><a href="/auth-login/logout">Log out</a></button>
        <%}%>

        <% if (user && user.is_admin) { %>
         <p>GODMODE BABY</p>
        <% } %>

    <div class="board">
      <!-- too lazy to use css for this -->
      <center><h2>Clubhouse Board</h2></center>
      <div class="posts-container">
        <%posts.forEach((item) => { %>
        <div class="post">
          <%if(item.username){%>
          <p class="post-username"><%= item.username %></p>
          <%}%>

          <p class="post-content"><%= item.post %></p>
          <p class="post-time"><%= item.post_time%></p>
        </div>
        <% })%>
      </div>

      <div class="put-post-container">
        <%if(user){%>
        <form action="/post/put-post" method="post">
          <textarea
            name="post"
            id="post-box"
            placeholder="Create post"
          ></textarea>
          <input type="submit" value="post" />
        </form>
        <%}else{%>
            <button><a href="/auth-login/login">Login to Post</a></button>
            
        <%}%>
      </div>
    </div>
    
  </body>
</html>
